<footer>
    <aside class="left">
        <ul>
            <li>
                <a href="">@ 2022 Airbnb, Inc.</a>
            </li>
            <li>
                <a href="">Teams</a>
            </li>
            <li>
                <a href="">sitemap</a>
            </li>
            <li>
                <a href="">Privacy</a>
            </li>
            <li>
                <a href="">Your Privacy Choices</a>
            </li>
            <li>
                <a href="">Destinations</a>
            </li>

        </ul>
    </aside>
    <aside class="right">
        <ul>
            <li>
                <a href="">English(US)</a>
            </li>
            <li>
                <a href="">$ USD</a>
            </li>
            <li>
                <a href="">Support & resources</a>
            </li>

        </ul>
    </aside>
</footer>