
<div class="form login">
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field input-field">
            <input ngModel name="userName" type="text" placeholder="Enter your name" class="input">
        </div>
        <div class="field input-field">
            <input ngModel name="email" type="email" placeholder="Enter your email" class="input">
        </div>
        <div class="field input-field">
            <input ngModel name="phoneNumber" type="number" placeholder="Enter your phoneNumber" class="input">
        </div>
        <div class="field input-field">
            <input ngModel name="password" type="password" placeholder="password" class="password">
        </div>
        <div class="field input-field">
            <input ngModel name="gender" type="text" placeholder="gender" class="password">
        </div>

        <div class="field button-field">
            <button>Sing up</button>
        </div>

    </form>
    <div class="line"></div>
    <div class="media-options">
        <button (click)="onForgotPasswordBtnClick()" class="filed facebook">
            <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="">
            <span>Continue with Google</span>
        </button>
    </div>
</div>

