<div class="form login">
    <h2><span>night</span></h2>
    <form #form="ngForm">
        <div class="container">
            <div class="form-group">
                <input name="data" ngModel type="date" class="form-control" placeholder="CHECH-IN">
            </div>
            <div class="form-group">
                <input name="cvv" ngModel type="date" class="form-control" placeholder="CHECHOUT">
            </div>
        </div>
        <div class="field button-field">
            <button>Reserve</button>
        </div>
        <div class="saba">
            <p>You won't be charged yet</p>
        </div>
    </form>
    <!-- <div class="line"></div> -->
    <div class="prise">
        <div class="prise-2">
            <a href="">Cleaning fee</a>
        </div>
        <div class="prise-3">
            <p>$1,500</p>
        </div>
    </div>
    <div class="prise">
        <div class="prise-2">
            <a href="">Service fee</a>
        </div>
        <div class="prise-3">
            <p>$59.14</p>
        </div>
    </div>
    <hr>
    <div class="book">

        <div class="book-2">
            <h2 href="">Total before taxes</h2>
        </div>
        <div class="book-3">
            <p>$1,750</p>
        </div>
    </div>
</div>

